[submodule "bal7hazar_contracts"]
	path = lib/bal7hazar_contracts
	url = https://github.com/Bal7hazar/cairo-contracts
[submodule "cairopen_contracts"]
	path = lib/cairopen_contracts
	url = https://github.com/CairOpen/cairopen-contracts
[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
